DISCORD_TOKEN=dan_token_bot_cua_ban_vao_day
DISCORD_CLIENT_ID=id_may_khach_client_id_cua_bot
BOT_PREFIX=!
TTS_HOSTS=https://translate.google.com,https://translate.google.com.vn
TTS_CACHE_ITEMS=100
TTS_COOLDOWN_MS=120000
